@page
@model ActividadesSugeridasRazorPages.Pages.Cat_generales_calificaciones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2 >Calificaciónes Generales</h2>

<p>
    <a class="btn btn-success btn-md active" asp-page="Create">Crear Nueva Calificación General</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cats_generales[0].DesGeneral)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.cats_generales[0].Gene)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.cats_generales) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesGeneral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gene.IdTipoGeneral)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdGeneral" class="btn btn-default btn-md active">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.IdGeneral" class="btn btn-info btn-md active">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdGeneral" class="btn btn-danger btn-md active">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
