@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentosResponsables.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>evas_momentos_responsables</h4>

<div class="panel panel-primary">

    <div class="panel-heading">Información del Momento</div>
    <div class="panel-body">
        <p>Persona: @Model.persona @Model.apellidopat @Model.apellidomat</p>
        <p>Competencia:@Model.competencia </p>
        <p>Momento:@Model.momento </p>

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="evas_momentos_responsables.IdPersona" class="control-label"></label>
                <input readonly type="text" asp-for="evas_momentos_responsables.IdPersona" class="form-control" value="@Model.idPersona">
            </div>
            <div class="form-group">
                <label asp-for="evas_momentos_responsables.IdCompetencia" class="control-label"></label>
                <input readonly type="text" asp-for="evas_momentos_responsables.IdCompetencia" class="form-control" value="@Model.idCompetencia">
            </div>
            <div class="form-group">
                <label asp-for="evas_momentos_responsables.IdMomentoDet" class="control-label"></label>
                <input readonly type="text" asp-for="evas_momentos_responsables.IdMomentoDet" class="form-control" value="@Model.idMomento">
            </div>
            <div class="form-group">
                <label asp-for="evas_momentos_responsables.IdTipoGenResponsable" class="control-label"></label>
                <input type="text" asp-for="evas_momentos_responsables.IdTipoGenResponsable" class="form-control" value="6" />
            </div>
            <div class="form-group">
                <label asp-for="evas_momentos_responsables.IdGenResponsable" class="control-label"></label>
                <select asp-for="evas_momentos_responsables.IdGenResponsable" class="form-control" asp-items="ViewBag.IdGenResponsable"></select>
            </div>
            <div class="form-group">
                <label asp-for="evas_momentos_responsables.IdResponsable" class="control-label"></label>
                <select id="lol" type="text" asp-for="evas_momentos_responsables.IdResponsable" class="form-control" asp-items="ViewBag.IdPersona"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {
     
        idPer = @Model.idPersona;
        idCompe = @Model.idCompetencia;
        $('#lol').val('');

        options = $('#lol option').toArray();

       options.forEach(o => {
           o.hidden = true;
        });

        console.log("idper", idPer);

    responsablesCompe = [
    @foreach (var item in this.Model.Responsables)
    {
        @:{"IdPersona": "@item.IdPersona", "IdCompetencia": "@item.IdCompetencia",  "IdResponsable": "@item.IdResponsable"},
    }
    ];

    });

    $('#lol').mouseover(() => { 
       //JUAN 
       //DAvid
       //ALexia
       //Alexia Ariana
        var a = 0z;
        responsablesCompe.forEach(item => {
            if (item.IdPersona == idPer && item.IdCompetencia == idCompe) {     
                console.log('IDRESPONSABLE', item.IdResponsable);
                var ban = 0;
                options.forEach(o => {
                    if (o.value == item.IdResponsable) {
                        options[ban].hidden = false;
                        console.log('value', o.value);
                    }
                    ban = ban + 1;   
                });     
            }
            a = a + 1;         
        });
    }); 
</script>
 }
