@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentosResponsables.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>

<h3>¿Estás seguro que quieres eliminar el responsable de este momento?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción General
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.cat_generales.DesGeneral)
        </dd>
        <dt>
            Descripción Tipo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.cat_tipo_generales.DesTipo)
        </dd>
        <dt>
            Descripción Competencia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.eva_cat_competencias.DesCompetencia)
        </dd>
        <dt>
            Descripción Momento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.eva_momentos_metodologia.DesMomento)
        </dd>
        <dt>
            Persona
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.rh_cat_personas.Nombre)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="evas_momentos_responsables.IdResponsable" />
        <input type="hidden" asp-for="evas_momentos_responsables.IdPersona" />
        <input type="hidden" asp-for="evas_momentos_responsables.IdCompetencia" />
        <input type="hidden" asp-for="evas_momentos_responsables.IdMomentoDet" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-info btn-md active" role="button" >Cancelar</a>
    </form>
</div>
