@page
@model ActividadesSugeridasRazorPages.Pages.Eva_actividades_sug_estatus.DeleteModel

@{
    ViewData["Title"] = "Delete";
}


<h3>Esta seguro que desea borrar este Estatus?</h3>
<div>
    
    <hr />
    <dl>
        <dt>
            Fecha Registro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eva_actividad_sug_estatus.FechaEstatus)
        </dd>
        <dt>
            Actual
        </dt>
        <dd>
            @if (Model.Eva_actividad_sug_estatus.Actual == "1")
        {
            <input type="checkbox" value="1" checked />
    }
    else
    {
        <input type="checkbox" value="0" />
}
        </dd>
        <dt>
            Observación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eva_actividad_sug_estatus.Observacion)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eva_actividad_sug_estatus.Eva_cat_actividades_sugeridas.DesActividad)
        </dd>
        <dt>
            Tipo Actividad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eva_actividad_sug_estatus.Eva_cat_tipo_actividades_sugeridas.DesTipoActividadSug)
        </dd>
        <dt>
            Estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Eva_actividad_sug_estatus.Cat_estatus.DesEstatus)
        </dd>

    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Eva_actividad_sug_estatus.IdEstatusDet" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a class="btn btn-info btn-md active" role="button" asp-page="./Index" 
           asp-route-id="@Model.idacti">Regresar</a>
    </form>
</div>
