@page
@model ActividadesSugeridasRazorPages.Pages.Cat_estatus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Estatus</h2>

<p>
    <a asp-page="Create" class="btn btn-success btn-md active" role="button">Crear Nuevo Estatus</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Descripción Estatus
                </th>
                <th>
                    Fecha de Registro
                </th>
            <th>
                    Tipo de Estatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cats_estatus.Where(e=>e.IdTipoEstatus == 1)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat_tipo_estatus.DesTipoEstatus)
            </td>
            <td>
              <!--  <a asp-page="./Edit" asp-route-id="@item.IdEstatus">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdEstatus">Details</a> |-->
                <a asp-page="./Delete" class="btn btn-danger btn-md active" role="button" asp-route-id="@item.IdEstatus">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
