@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_metodologias.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>eva_momentos_metodologias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.DesMomento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.DesMomento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.Objetivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Objetivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.ResultadoEsperado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.ResultadoEsperado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.ResultadoObtenido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.ResultadoObtenido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.Calificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Calificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.FechaUltAct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.FechaUltAct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.FechaEvaluacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.FechaEvaluacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.IdEmpSuc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.IdEmpSuc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.IdEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.IdEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.Metodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Metodologia.IdMetodologia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.Momento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Momento.IdMomento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.PlantillaMetodo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.PlantillaMetodo.IdPlantillaMetodo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.cat_generales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.cat_generales.IdGeneral)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.cat_tipo_generales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.cat_tipo_generales.IdTipoGeneral)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.eva_cat_competencias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.eva_cat_competencias.IdCompetencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_momentos_metodologias.rh_cat_personas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.rh_cat_personas.IdPersona)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="eva_momentos_metodologias.IdMomentoDet" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
