@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_metodologias.DeleteModel

@{
    ViewData["Title"] = "Delete";
}



<h3>¿Estas seguro que deseas eliminar este momento de la metodologia?</h3>
<div>
    <h4>eva_momentos_metodologias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripcion del Momento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.DesMomento)
        </dd>
        <dt>
            Objetivo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Objetivo)
        </dd>
        <dt>
            Resultado Esperado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.ResultadoEsperado)
        </dd>
        <dt>
            Resultado Obtenido
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.ResultadoObtenido)
        </dd>
        <dt>
            Observaciones
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Observaciones)
        </dd>
        <dt>
            Calificación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Calificacion)
        </dd>
        <dt>
            Fecha de Registro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.FechaReg)
        </dd>
        <dt>
            Fecha de Ultima Actualización
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.FechaUltAct)
        </dd>
        <dt>
            Fecha de Evaluacion
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.FechaEvaluacion)
        </dd>
        <dt>
            Empresa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.IdEmpSuc)
        </dd>
        <dt>
            Evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.IdEvento)
        </dd>
        <dt>
            Metodologia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Metodologia.DesMetodologia)
        </dd>
        <dt>
            Momento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Momento.DesMomento)
        </dd>
        <dt>
            Plantilla Metodologia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.PlantillaMetodo.DesPlantillaMetodo)
        </dd>
        <dt>
            Calificación cuantitativa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.cat_generales.DesGeneral)
        </dd>
        <!-- <dt>
       Tipo de Calificación
    </dt>
    <dd>
        @Html.DisplayFor(model => model.eva_momentos_metodologias.cat_tipo_generales.IdTipoGeneral)
    </dd>
       <dt>
           Competenecias
       </dt>
       <dd>
           @Html.DisplayFor(model => model.eva_momentos_metodologias.eva_cat_competencias.DesCompetencia)
       </dd>
       <dt>
           Persona
       </dt>
       <dd>
           @Html.DisplayFor(model => model.eva_momentos_metodologias.rh_cat_personas.IdPersona)
       </dd>-->
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="eva_momentos_metodologias.IdMomentoDet" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class="btn btn-info btn-md active" role="button" asp-page="./Index">Cancelar</a>

    </form>
</div>
