@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_metodologias.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles del Momento de la Metodologia</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción del Momento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.DesMomento)
        </dd>
        <dt>
            Objetivo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Objetivo)
        </dd>
        <dt>
            Resultado Esperado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.ResultadoEsperado)
        </dd>
        <dt>
            Resultado Obtenido
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.ResultadoObtenido)
        </dd>
        <dt>
            Observaciones
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Observaciones)
        </dd>
        <dt>
            Calificación Cualitativa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Calificacion)
        </dd>
        <dt>
            Fecha de registro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.FechaReg)
        </dd>
        <dt>
            Fecha de ultima actualización
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.FechaUltAct)
        </dd>
        <dt>
            Fecha de Evaluación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.FechaEvaluacion)
        </dd>
      
        <dt>
            Evento
        </dt>
        @foreach (var item in Model.Res_evento)
            {
                if (Model.eva_momentos_metodologias.IdEvento == item.IdEvento)
                {
                    <dd>
                        @item.NombreEvento
                    </dd>
            }
        }
        <dt>
            Metodologia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Metodologia.DesMetodologia)
        </dd>
        <dt>
            Momento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.Momento.DesMomento)
        </dd>
        <dt>
            Plantilla Metodologia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.PlantillaMetodo.DesPlantillaMetodo)
        </dd>
        <dt>
            Calificación Cuantitativa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias.cat_generales.DesGeneral)
        </dd>
        <!-- <dt>
        Tipo de Calificación
    </dt>
    <dd>
        @Html.DisplayFor(model => model.eva_momentos_metodologias.cat_tipo_generales.DesTipo)
    </dd>
       <dt>
           Competencia
       </dt>
       <dd>
           @Html.DisplayFor(model => model.eva_momentos_metodologias.eva_cat_competencias.DesCompetencia)
       </dd>
       <dt>
           Persona
       </dt>
       <dd>
           @Html.DisplayFor(model => model.eva_momentos_metodologias.rh_cat_personas.Nombre)
       </dd>-->
    </dl>
</div>
<div>
    <a class="btn btn-default btn-md active" role="button" asp-page="./Edit" asp-route-idCompe="@Model.idComp" asp-route-idPer="@Model.idPerson" asp-route-id="@Model.eva_momentos_metodologias.IdMomentoDet">Editar</a> |
    <a class="btn btn-info btn-md active" role="button" asp-page="./Index" 
        asp-route-id="@Model.idPerson" asp-route-idcompetencia="@Model.eva_momentos_metodologias.IdCompetencia">Regresar</a>
</div>
