@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_metodologias.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Momento
            </th>
            <th>
                Objetivo
            </th>
            <th>
                Calificacion cuantitativa
            </th>
            <th>
                Calificacion cualitativa
            </th>
            <th>
                Fecha
            </th>
            <th>

            </th>
            

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.eva_momentos_metodologias) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesMomento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGenCalificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.FechaEvaluacion)
            </td>
           
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdMomentoDet">Editar</a> |
                <a asp-page="./Details" class="btn btn-info btn-md active" role="button" asp-route-id="@item.IdMomentoDet">Detalle</a> |
                <a asp-page="./Delete" class="btn btn-danger btn-md active" role="button" asp-route-id="@item.IdMomentoDet">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
