@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_metodologias.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<p>
    <a class="btn btn-success btn-md active" role="button" asp-page="Create">Crear Nuevo Momento de Metodologia</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Descripcion
            </th>
            <th>
                Objetivo
            </th>
            <th>
                Resultado Esperado
            </th>
            <th>
                Resultado Obtenido
            </th>
            <th>
                Observaciones
            </th>
            <th>
                Calificación
            </th>
            <th>
                Fecha Registro
            </th>
            <th>
                Fecha Ultima Actividad
            </th>
            <th>
                Fecha Evaluacion
            </th>
            <th>
                Empresa
            </th>
            <th>
                Evento
            </th>
            <th>
                Metodologia
            </th>
            <th>
                Momento
            </th>
            <th>
                Plantilla Metodo
            </th>
            <th>
                Calificación cuantitativa
            </th>
            <th>
               Tipo de Calificación 
            </th>
            <th>
               Competencia
            </th>
            <th>
               Persona
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.eva_momentos_metodologias)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DesMomento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Objetivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResultadoEsperado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResultadoObtenido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaUltAct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEvaluacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpSuc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Metodologia.IdMetodologia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Momento.IdMomento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantillaMetodo.IdPlantillaMetodo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cat_generales.IdGeneral)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cat_tipo_generales.IdTipoGeneral)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eva_cat_competencias.IdCompetencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rh_cat_personas.IdPersona)
                </td>
                <td>


                    <a class="btn btn-default btn-md active" role="button" asp-page="./Edit" asp-route-id="@item.IdMomentoDet">Editar</a> |
                    <a class="btn btn-info btn-md active" role="button" asp-page="./Details" asp-route-id="@item.IdMomentoDet">Detalles</a> |
                    <a class="btn btn-danger btn-md active" role="button" asp-page="./Delete" asp-route-id="@item.IdMomentoDet">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
