@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_metodologias_estatus.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>¿Estas seguro que deseas eliminar el status de este momento?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Fecha del estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.FechaEstatus)
        </dd>
        <dt>
            Actual
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.Actual)
        </dd>
        <dt>
           Observación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.Observacion)
        </dd>
        <dt>
           Usuario registro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.IdUsuarioReg)
        </dd>
        <dt>
            Estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.Cat_estatus.IdEstatus)
        </dd>
        <dt>
            Tipo de estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.Cat_tipos_estatus.IdTipoEstatus)
        </dd>
        <dt>
           Competencia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.eva_cat_competencias.IdCompetencia)
        </dd>
        <dt>
           Momento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.eva_momentos_metodologia.IdMomentoDet)
        </dd>
        <dt>
            Persona
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.rh_cat_personas.IdPersona)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="eva_momentos_metodologias_estatus.IdEstatusDet" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a class="btn btn-info btn-md active" role="button" asp-page="./Index">Cancelar</a>
    </form>
</div>
