@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_metodologias_estatus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles estatus del momento</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.FechaEstatus)
        </dd>
        <dt>
           Actual
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.Actual)
        </dd>
        <dt>
           Observación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.Observacion)
        </dd>
        <dt>
            Usuario Registro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.IdUsuarioReg)
        </dd>
        <dt>
            Estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.Cat_estatus.IdEstatus)
        </dd>
        <dt>
            Tipo de estatus
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.Cat_tipos_estatus.IdTipoEstatus)
        </dd>
        <dt>
            Competencia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.eva_cat_competencias.IdCompetencia)
        </dd>
        <dt>
           Momento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.eva_momentos_metodologia.IdMomentoDet)
        </dd>
        <dt>
            Persona
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_momentos_metodologias_estatus.rh_cat_personas.IdPersona)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-default btn-md active" role="button" asp-page="./Edit" asp-route-id="@Model.eva_momentos_metodologias_estatus.IdEstatusDet">Editar</a> |
    <a class="btn btn-info btn-md active" role="button" asp-page="./Index" asp-route-id="@Model.eva_momentos_metodologias_estatus.IdMomentoDet">Regresar</a>
</div>
