@page

@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_metodologias_estatus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Estatus del momento</h2>

<p>
    <a asp-route-idPer="@Model.personaId" asp-route-idMomento="@Model.metodologia_momento" asp-route-idCompe="@Model.competenciaId" asp-page="Create" class="btn btn-success btn-md active" role="button">Crear Nuevo Estatus</a>
</p>


<div class="panel panel-primary">

    <div class="panel-heading">Información de la Actividad</div>
    <div class="panel-body">
        <p>Persona: @Model.persona</p>
        <p>Momento: @Model.momento</p>
        <p>Competencia: @Model.competencia</p>

    </div>
</div>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Fecha de estatus
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eva_momentos_metodologias_estatus[0].Actual)
            </th>
            <th>
                Observación
            </th>

            <th>
                Estatus
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.eva_momentos_metodologias_estatus.Where(item => item.IdMomentoDet == Model.metodologia_momento).Where(item => item.IdPersona == Model.personaId).OrderByDescending(item => item.FechaEstatus))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEstatus)
                </td>
                @if (item.Actual == "1")
                {
                    <td>
                        <input type="checkbox" value="1" checked="checked" />
                    </td>
                }
                else
                {
                    <td>
                        <input type="checkbox" value="0" />
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    Revision
                </td>


                <td>


                    <a asp-page="./Details" class="btn btn-info btn-md active" role="button" asp-route-id="@item.IdEstatusDet" asp-route-idCompe="@Model.competenciaId" asp-route-idMomento="@item.IdMomentoDet" asp-route-idPer="@Model.personaId">Detalles</a> |
                    <a asp-page="./Delete" class="btn btn-danger btn-md active" role="button" asp-route-id="@item.IdEstatusDet" asp-route-idCompe="@Model.competenciaId" asp-route-idMomento="@item.IdMomentoDet" asp-route-idPer="@Model.personaId">Eliminar</a> |
                </td>
            </tr>
        }
    </tbody>
</table>

                

<a class="btn btn-info btn-md active" role="button" asp-route-id="@Model.personaId" asp-route-idcompetencia="@Model.competenciaId" asp-page="/Eva_momentos_metodologias/Index">Regresar</a>

