@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_metodologias_estatus.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Estatus del momento</h2>

<p>
    <a asp-page="Create" class="btn btn-success btn-md active" role="button">Crear Nuevo Estatus</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Fecha de estatus
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eva_momentos_metodologias_estatus[0].Actual)
                </th>
                <th>
                   Observación
                </th>
                <th>
                   Usuario registro
                </th>
            <th>
               Estatus
            </th>
            <th>
                Tipo de estatus
            </th>
            <th>
               Competencia
            </th>
            <th>
               Momento
            </th>
            <th>
                Persona
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.eva_momentos_metodologias_estatus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat_estatus.IdEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat_tipos_estatus.IdTipoEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eva_cat_competencias.IdCompetencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eva_momentos_metodologia.IdMomentoDet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rh_cat_personas.IdPersona)
            </td>
            <td>
              
                <a asp-page="./Edit" class="btn btn-default btn-md active" role="button" asp-route-id="@item.IdEstatusDet">Editar</a> |
                <a asp-page="./Details" class="btn btn-info btn-md active" role="button" asp-route-id="@item.IdEstatusDet">Detalles</a> |
                <a asp-page="./Delete" class="btn btn-danger btn-md active" role="button" asp-route-id="@item.IdEstatusDet">Eliminar</a> |
            </td>
        </tr>
}
    </tbody>
</table>
