@page
@model ActividadesSugeridasRazorPages.Pages.Eva_evalua_competencias_persona.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>eva_evalua_competencias_personas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eva_evalua_competencias_personas.IdEmpSuc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_evalua_competencias_personas.IdEmpSuc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_evalua_competencias_personas.IdAsignatura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_evalua_competencias_personas.IdAsignatura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_evalua_competencias_personas.IdTipoGenOrigenCompe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_evalua_competencias_personas.IdTipoGenOrigenCompe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_evalua_competencias_personas.IdGenOrigenCompe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_evalua_competencias_personas.IdGenOrigenCompe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_evalua_competencias_personas.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_evalua_competencias_personas.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_evalua_competencias_personas.FechaLimite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_evalua_competencias_personas.FechaLimite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_evalua_competencias_personas.Justificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_evalua_competencias_personas.Justificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_evalua_competencias_personas.eva_cat_competencias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_evalua_competencias_personas.eva_cat_competencias.IdCompetencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_evalua_competencias_personas.eva_cat_tipo_competencias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_evalua_competencias_personas.eva_cat_tipo_competencias.IdTipoCompetencia)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="eva_evalua_competencias_personas.IdPersona" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
