@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_responsables.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>evas_momentos_responsables</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.evas_momentos_responsables.cat_generales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.cat_generales.IdGeneral)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.evas_momentos_responsables.cat_tipo_generales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.cat_tipo_generales.IdTipoGeneral)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.evas_momentos_responsables.eva_cat_competencias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.eva_cat_competencias.IdCompetencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.evas_momentos_responsables.eva_momentos_metodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.eva_momentos_metodologia.IdMomentoDet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.evas_momentos_responsables.rh_cat_personas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.rh_cat_personas.IdPersona)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="evas_momentos_responsables.IdResponsable" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
