@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_responsables.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliiminar Responsable</h2>

<h3>¿Estas seguro que deseas eliminar el responsable?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Responsable
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.cat_generales.IdGeneral)
        </dd>
        <dt>
            Tipo de Responsable
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.cat_tipo_generales.IdTipoGeneral)
        </dd>
        <dt>
            Comptencia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.eva_cat_competencias.IdCompetencia)
        </dd>
        <dt>
           Momento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.eva_momentos_metodologia.IdMomentoDet)
        </dd>
        <dt>
           Persona
        </dt>
        <dd>
            @Html.DisplayFor(model => model.evas_momentos_responsables.rh_cat_personas.IdPersona)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="evas_momentos_responsables.IdResponsable" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class="btn btn-info btn-md active" role="button" asp-page="./Index">Cancelar</a>
    </form>
</div>
