@page
@model ActividadesSugeridasRazorPages.Pages.Eva_momentos_responsables.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Crear nuevo responsable</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Responsable
            </th>
            <th>
                Tipo de Responsable
            </th>
            <th>
                Competencia
            </th>
            <th>
               Momento
            </th>
            <th>
               Persona
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.evas_momentos_responsables) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cat_generales.IdGeneral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cat_tipo_generales.IdTipoGeneral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eva_cat_competencias.IdCompetencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eva_momentos_metodologia.IdMomentoDet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rh_cat_personas.IdPersona)
            </td>
            <td>

                <a asp-page="./Edit" class="btn btn-default btn-md active" role="button" asp-route-id="@item.IdResponsable">Editar</a> |
                <a asp-page="./Details" class="btn btn-info btn-md active" role="button" asp-route-id="@item.IdResponsable">Detalles</a> |
                <a asp-page="./Delete" class="btn btn-danger btn-md active" role="button" asp-route-id="@item.IdResponsable">Eliminar</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
